{% extends 'mailings/base.html' %}

{% block title %}Рассылки{% endblock %}

{% block content %}

<h1 class="display-5 text-center mb-4">Рассылки</h1>
<a class="p-2 btn btn-outline-primary" href="{% url 'mailings:mailing_create' %}">Создать рассылку</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Дата отправки</th>
        <th scope="col">Дата завершения отправки</th>
        <th scope="col">Статус</th>
        <th scope="col">Сообщение</th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    {% for mailing in object_list %}
    <tbody>
    <tr>
        <td>{{ mailing.id }}</td>
        {% if mailing.created_at %}
        <td>{{ mailing.created_at }}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if mailing.finished_at %}
        <td>{{ mailing.finished_at }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td class="{% if mailing.status == 'created' %}text-bg-primary{% elif mailing.status == 'published' %}text-bg-success{% elif mailing.status == 'completed' %}text-bg-secondary{% endif %}">
            {% if mailing.status == 'created' %}
            Создана
            {% elif mailing.status == 'published' %}
            Запущена
            {% elif mailing.status == 'completed' %}
            Завершена
            {% endif %}
        </td>
        <td>{{ mailing.message|truncatechars:20 }}</td>
        <td>
            <form method="post" action="{% url 'mailings:mailing_start' mailing.id %}">
                {% csrf_token %}
                {% if mailing.status == 'created' or mailing.status == 'published' %}
                <button type="submit" class="btn btn-link">Отправить</button>
                /
                {% elif mailing.status == 'completed' %}
                <button type="submit" class="btn btn-link" disabled>Отправить</button>
                /
                {% endif %}

                <form method="post" action="{% url 'mailings:add_archive' mailing.id %}">
                    {% csrf_token %}
                    {% if mailing.status == 'created' or mailing.status == 'published' %}
                    <button type="submit" class="btn btn-link">В архив</button>
                    /
                    {% elif mailing.status == 'completed' %}
                    <button type="submit" class="btn btn-link" disabled>В архив</button>
                    /
                    {% endif %}
                    <a href="{% url 'mailings:mailing_detail' mailing.id %}">Подробнее</a>
                </form>
            </form>
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}