{% extends 'mailings/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

<h1 class="display-5 text-center mb-4">Отчет по рассылкам</h1>
<div class="row">
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Рассылки</h5>
                <p class="card-text">Количество всех рассылок: </p>
                <a href="{% url 'mailings:mailing_list' %}" class="btn btn-primary">Посмотреть рассылки</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Получатели рассылок</h5>
                <p class="card-text">Количество уникальных получателей: </p>
                <a href="{% url 'mailings:recipient_list' %}" class="btn btn-primary">Посмотреть получателей</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Сообщения</h5>
                <p class="card-text">Кол-во созданных сообщений: </p>
                <a href="{% url 'mailings:message_list' %}" class="btn btn-primary">Посмотреть сообщения</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}