{% extends 'mailings/base.html' %}
{% load auth_extras %}

{% block title %}Получатели рассылок{% endblock %}

{% block content %}

<h1 class="display-5 text-center mb-4">Получатели рассылок</h1>
{% if request.user|has_group:"User" or user.is_superuser %}
<a class="p-2 btn btn-outline-primary" href="{% url 'mailings:recipient_create' %}">Добавить получателя</a>
{% endif %}
<table class="table" style="vertical-align: middle">
    <thead>
    <tr>
        <th scope="col">Почта</th>
        <th scope="col">ФИО</th>
        <th scope="col">Комментарий</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    {% for recipient in object_list %}
    <tbody>
    <tr>
        <td>{{ recipient.email|truncatechars:30 }}</td>
        <td>{{ recipient.full_name|truncatechars:30 }}</td>
        <td>{{ recipient.comment|truncatechars:50}}</td>
        <td>
            <a href="{% url 'mailings:recipient_detail' recipient.id %}">Подробнее</a>
        </td>
        {% if request.user|has_group:"User" or user.is_superuser %}
        <td>
            <a href="{% url 'mailings:recipient_update' recipient.id %}">Редактировать</a>
        </td>
        <td>
            <a href="{% url 'mailings:recipient_delete' recipient.id %}">Удалить</a>
        </td>
        {% endif %}
    </tr>
    </tbody>
    {% endfor %}
</table>

{% include 'mailings/paginate.html' %}

{% endblock %}