{% extends 'mailings/base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% load i18n %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Сброс пароля</h1>
    <p>Мы отправили вам инструкции по смене пароля, если учётная запись с указанным вами адресом электронной почты
        существует, Вы получите их в ближайшее время.
    </p>
    <p>Если вы не получили письмо, убедитесь, что вы ввели адрес, указанный при регистрации, и проверьте папку со
        спамом.
    </p>
</div>
{% endblock %}